body {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/005/original/img.jpg?1656511485");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Dancing Script", cursive;
  text-align: center;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  padding-top: 1rem;
  margin: 0;
}
h4 {
  margin: 0;
}
p {
  margin: 0;
  font-size: 18px;
}

#temperature {
  font-size: 40px;
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 2rem 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 900px;
}
.container-header {
  padding: 0 3rem;
}

.temperature-information {
  font-weight: bold;
  padding: 1rem;
  margin-top: -2rem;
}

.forecast {
  padding: 1rem 0 3rem;
}
.cards {
  border: 1px solid grey;
  padding: 1rem 0;
  border-radius: 5px;
}
.temp-min {
  opacity: 0.6;
  padding-left: 10px;
}
.coded-by {
  padding-top: 2rem;
}
